@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Kaisei HarunoUmi', serif;
	background-color: #f9d4c0;
	
}

header {
	height: 350px;
	width: 100%;
	background-image: url(images/chat_enfant.jpg);
	background-position: center;
	opacity: 0.7;
	color: #FFFAE1;
	text-align: center;


}

header nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}

header nav a {
	font-family: 'Kaisei HarunoUmi', serif;
	background-color: #FFF;
	color: #f96211;
	text-decoration: none;
	font-size: 0.9em;
	margin-right: 10px;
	padding: 3px;
	font-weight: bold;
	text-transform: uppercase;

}

header nav a:hover {
	background-color: #594329;
	color: #FFF;
	border-bottom: 1px solid #919191;
}

p {
	color: #FFF;
	margin: 0;
	font-size: 0.8em;
}

.spa {
	color: #f96211;
	font-size: 1.3em;
}

header .imagePrincipale {
	padding-top: 200px;

}

header .imagePrincipale h1 {
	font-size: 2em;
	padding-top: 30px;
	text-align: center;
}

form {
	background-color: #4a4d7a;
	display: flex;
	flex-direction: column;
	padding: 3rem;
	box-shadow: 0 0 36px -7px rgba(171,171,171,1);
	border-radius: 20px;
	width: 70%;
	margin: 0;
}

.formulaire {
	display: flex;
	flex-direction: column;
	padding: 100px;
	
}

.nousParler {
	text-align: center;
	color: #FFF;
	margin-top: 0;
	margin-bottom: 60px;
}

label {
	color: #FFF;
	margin-bottom: 0.5rem;
}

input, textarea, button {
	font-size: 0.9em;
	margin-bottom: 1rem;
	border-radius: 7px;
	padding: 0.3rem;
	border: 1px solid #f96211;
}

textarea {
	max-width: 400px;
	letter-spacing: 1px;
}

.formulaireHorizontal {
	max-width: 810px;
}
button:hover {
	background-color: #f96211;
	color: #FFF;
}

/**************** FOOTER *****************/
footer {
	background-color: #594329;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer p {
	margin: 220px 0 0 3px;
}


footer #icons {
	margin: 200px 0 10px 10px;
}

footer #icons i {
	color: #FFF;
	margin-right: 15px;
	border: 1px solid #FFF;
	border-radius: 50%;
	padding: 7px;
	text-align: left;
	width: 20px;
	cursor: pointer;
}

footer #icons i:hover {
	color: #f96211;
	background-color: #FFF;
}
